@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --dotnet-purple: #512bd4;
    --dotnet-purple-hover: #4411BB;
    --dotnet-purple-border-hover: #3311BB;
}

.bg-dotnet {
    background-color: var(--dotnet-purple) !important;
}

.btn-dotnet {
    color: #fff;
    background-color: var(--dotnet-purple);
    border-color: var(--dotnet-purple);
}

    .btn-dotnet:hover {
        color: #fff;
        background-color: var(--dotnet-purple-hover);
        border-color: var(--dotnet-purple-border-hover);
    }

html, body {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.about_cards {
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .about_cards .card {
        flex-basis: 100%;
    }

@media (min-width: 576px) {
    .about_cards .card {
        flex-basis: 18em;
    }
}

/* Custom */

.gh-issue-list {
    border: 1px solid #e1e4e8;
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 10px;
}

.gh-issue-header {
    border: 1px solid #e1e4e8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0px;
    background-color: #f6f8fa;
    padding: 10px;
}

.gh-issue-cell {
    border-top: 1px solid #e1e4e8;
    padding: 10px;
}

    .gh-issue-cell:first-of-type {
        border-top: 0px;
    }

    .gh-issue-cell:hover {
        background-color: #f6f8fa;
    }

.gh-issue-blocking {
    background-color: rgb(255 0 0 / 0.15);
}

    .gh-issue-blocking:hover {
        background-color: rgb(255 0 0 / 0.20);
    }

.gh-label {
    margin: 0 2px;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    --perceived-lightness: calc((var(--label-r)*0.2126 + var(--label-g)*0.7152 + var(--label-b)*0.0722)/255);
    --lightness-switch: max(0,min(calc((var(--perceived-lightness) - var(--lightness-threshold))*-1000),1));
    --lightness-threshold: 0.453;
    --border-threshold: 0.96;
    --border-alpha: max(0,min(calc((var(--perceived-lightness) - var(--border-threshold))*100),1));
    background: rgb(var(--label-r),var(--label-g),var(--label-b));
    color: hsl(0,0%,calc(var(--lightness-switch)*100%));
    border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) - 25)*1%),var(--border-alpha));
}

.gh-details-cell {
    margin-top: 2px;
    line-height: 1.25 !important;
    font-size: 12px !important;
    color: #586069 !important;
}

.gh-issue-title {
    text-decoration: none !important;
    color: var(--color-text-primary);
    font-weight: bold;
}

.yt-video {
    max-width: 320px;
}

.yt-video-title {
    display: block;
    font-size: 1rem;
    line-height: 1.2rem;
    max-height: 2.4rem;
    overflow: hidden;
    white-space: normal;
}

.yt-video-selected {
    background: var(--yellow);
}

@media (prefers-color-scheme: dark) {

    a:hover {
        color: rgb(88, 166, 255);
    }

    .gh-issue-list {
        border: 1px solid rgb(48, 54, 61);
    }

    .gh-issue-header {
        border: 1px solid rgb(48, 54, 61);
        background-color: rgba(0, 0, 0, 0.2);
    }

    .gh-issue-header .btn {
        background: var(--color-dark);
        color: var(--color-light);
        border: var(--color-light);
    }

        .gh-issue-header .btn:hover {
            background: rgb(48, 54, 61);
        }

    .gh-issue-cell {
        border-top: 1px solid rgb(48, 54, 61);
    }

        .gh-issue-cell:hover:not(.gh-issue-blocking) {
            background-color: rgba(0, 0, 0, 0.2);
        }

    .gh-details-cell {
        color: rgb(139, 148, 158) !important;
    }

    .gh-label {
        --lightness-threshold: 0.6;
        --background-alpha: 0.18;
        --border-alpha: 0.3;
        --lighten-by: calc((var(--lightness-threshold) - var(--perceived-lightness))*100*var(--lightness-switch));
        background: rgba(var(--label-r),var(--label-g),var(--label-b),var(--background-alpha));
        color: hsl(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) + var(--lighten-by))*1%));
        border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) + var(--lighten-by))*1%),var(--border-alpha));
    }

    .yt-video-selected {
        background: rgb(48, 54, 61);
    }
}

/* Calendar */

.calendar-nav {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
    justify-content: center;
    align-items: center;
}

    .calendar-nav button {
        font-size: 0.75rem;
        margin-left: 0.75em;
    }

    .calendar-nav button:first-of-type {
        margin-left: 0;
    }

    .calendar-nav h3 {
        flex-grow: 1;
        text-align: center;
    }

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: minmax(auto, calc(20vh - 50px));
}

.calendar-cell {
    padding: 0.5em;
    border: 1px solid rgb(48, 54, 61);
    color: var(--color-text-primary);
    overflow: hidden;
}

    .calendar-cell.past {
        color: rgb(139, 148, 158);
        background-color: rgba(0, 0, 0, 0.07);
    }

    .calendar-cell.today {
        border-color: var(--dotnet-purple);
        background-color: rgba(81 43 212 / 0.2);
    }

    .calendar-cell.today .calendar-day {
        font-weight: 600;
    }

    .calendar-cell .calendar-day {
        font-size: 1rem;
    }

    .calendar-cell .time {
        font-size: .75em;
        margin-right: 0.5em;
    }

.calendar-header {
    color: var(--color-text-primary);
    background-color: rgba(0, 0, 0, 0.07);
    height: auto;
}

@media (prefers-color-scheme: dark) {

    .calendar-cell {
        color: white;
    }

        .calendar-cell.past {
            color: rgb(139, 148, 158);
            background-color: rgba(0, 0, 0, 0.2);
        }

        .calendar-cell.today {
            border-color: var(--dotnet-purple);
            background-color: unset;
        }

    .calendar-header {
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
    }
}