@page "/"

<p>
    The API review process <a href="https://aka.ms/apireview">is documented here</a>.
</p>
<p>
    Past API reviews can be found in the
    <a href="https://github.com/dotnet/apireviews">dotnet/apireviews repo</a>.
</p>
