@page "/about"

<div class="about_cards">

    <div class="card m-3">
        <img src="/img//backlog.png" class="card-img-top" alt="Backlog">
        <div class="card-body">
            <h5 class="card-title">Backlog</h5>
            <p class="card-text">
                .NET has a long standing history of taking API usability seriously. Thus, we generally review
                all API additions.
            </p>
        </div>
        <div class="card-footer">
            <a href="/backlog" class="btn btn-success">View Backlog</a>
            <a href="https://www.youtube.com/playlist?list=PL1rZQsJPBU2S49OQPjupSJF-qeIEz9_ju" class="btn btn-secondary">
                <span class="oi oi-monitor" aria-hidden="true"></span> Watch
            </a>
        </div>
    </div>

    <div class="card m-3">
        <img src="/img/process.png" class="card-img-top" alt="process">
        <div class="card-body">
            <h5 class="card-title">Review Process</h5>
            <p class="card-text">
                We use GitHub to track API suggestions, which anybody can file. We review those up to three times a week.
            </p>
        </div>
        <div class="card-footer">
            <a href="https://aka.ms/apireview" class="btn btn-secondary">View Process</a>
        </div>
    </div>

    <div class="card m-3">
        <img src="/img/fdg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Design Guidelines</h5>
            <p class="card-text">
                The API guidelines are captured in the famous book Framework Design Guidelines, available in
                fine book stores everywhere.
            </p>
        </div>
        <div class="card-footer">
            <a href="https://www.amazon.com/dp/0135896460" class="btn btn-secondary">Amazon</a>
        </div>
    </div>
</div>
